<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<h1>I'm A HEADER</h1>
<!--<p>Hello <%= username %> </p>-->
<!-- If user not logged in -->

<!-- else logged in. Show logout button and username -->

<% if(username){ %>
  <h1>IS LOGGED IN</h1>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
<% } else{ %>
  <p>NOT LOGGED IN</p>
  <form action="/login" method="POST">
    <input type="text" name="username" id="username">
    <button type="submit">login</button>
  </form>
<% } %>