<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>

<div style="float:right; margin-right:100px">
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
</div>


